div{
    text-align: center;
    font-size: 100px;
    color: orange;
    font-family: fantasy;
    margin: auto;
    width: 400px;

}
*{
    border: 2px solid red;  
    background-color: aquamarine;
}